<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <main>
      <h1><%= title %></h1>

      <% if (locals.errors) { %>
        <ul>
          <% for (let i = 0; i < locals.errors.length; i++) { %>
            <li>
              <%= locals.errors[i].msg %>
            </li>
          <% } %>
        </ul>
      <% } %>

      <form action="" method="POST" class="pageForm">
        <div class="formSection">
          <label for="password">Admin password:</label>
          <input name="password" type="password" maxlength="20">
        </div>
        <button>Submit</button>
      </form>

    </main>
    <%- include("./partials/footer"); %>
  </body>
</html>