<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <h1>Welcome to "<%= title %>"</h1>
    
    <!-- Only show link to new message form for members -->
    <% if (currentUser) { %>
      <a href="/messages/new-message">New Message</a>
    <% } else { %>
      <h1>Sign up to join the conversation!</h1>
    <% } %>

    <!-- Placeholder for testing -->
    <hr>

    <% if (currentUser && currentUser.is_admin) { %>
      <h1>You are logged in as an ADMIN</h1>
    <% } else if (currentUser && currentUser.is_member) { %>
      <h1>You are logged in as a MEMBER</h1>
    <% } else if (currentUser) { %>
      <h1>You are logged in but UNVERIFIED</h1>
    <% } else { %>
      <h1>You are a VISITOR</h1>
    <% } %>

    <% if (messages) { %>
      <ul class="messagesList">
        <% messages.forEach((message) => { %>
          <li>
            <div class="messageCard">
              <div>
                <% if (currentUser && (currentUser.is_member)) { %>
                  By <%= message.user.email %> on <%= message.timestamp.toUTCString() %>
                <% } else { %>
                  Post authors and dates are visible to members
                <% } %>

                <% if ( currentUser && (currentUser._id.equals(message.user._id) || currentUser.is_admin) ) { %> 
                  <a href="<%= message.url %>/delete" class="removeMessageLink">Remove</a>
                <% } %>

              </div>
              <p>
                <%= message.title %>

              </p>
              <p>
                <%= message.body %>
              </p>
            </div>
          </li>
        <% }) %>   
      </ul>
    <% } %>


  </body>
</html>
