<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <h1>Welcome to "<%= title %>"</h1>
    
    <!-- Only show link to new message form for members -->
    <% if (currentUser && currentUser.is_member) { %>
      <a href="/messages/new-message">New Message</a>
    <% } else { %>
      <h1>Sign up to join the conversation!</h1>
    <% } %>

    <!-- Placeholder for testing -->
    <hr>

    <% if (currentUser && currentUser.is_admin) { %>
      <h1>You are logged in as an ADMIN</h1>
    <% } else if (currentUser && currentUser.is_member) { %>
      <h1>You are logged in as a MEMBER</h1>
    <% } else if (currentUser) { %>
      <h1>You are logged in but UNVERIFIED</h1>
    <% } else { %>
      <h1>You are a VISITOR</h1>
    <% } %>

    <% if (messages) { %>
      <ul class="messagesList">
        <% messages.forEach((message) => { %>
          <li>
            <div class="messageCard">
              <h2>
                <%= message.user.email %>
              </h2>
              <h2>
                <%= message.title %>
              </h2>
              <p>
                <%= message.body %>
              </p>
              <p>
                <%= message.timestamp %>
              </p>
            </div>
          </li>
        <% }) %>   
      </ul>
    <% } %>


  </body>
</html>
