<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <main>
     
      <p>Newest post:</p>

      <% if (messages) { %>
        <ul class="messagesList">
          <% messages.forEach((message) => { %>
            <li>
              <div class="messageCard">
                <div>
                  <!-- Post author and timestamp is visible to members and original author -->
                  <% if (currentUser && (currentUser.is_member || currentUser._id.equals(message.user._id))) { %>
                    By <%= message.user.email %> on <%= message.timestamp.toUTCString() %>
                  <% } else { %>
                    Post authors and dates are visible to members
                  <% } %>
                  
                  <!-- Remove link is visible to admins and original author -->
                  <% if ( currentUser && (currentUser._id.equals(message.user._id) || currentUser.is_admin) ) { %> 
                    <!-- <a href="<%= message.url %>/delete" class="removeMessageLink">Remove</a> -->
                    <form class="buttonWrapper removeMessageButton" action="<%= message.url %>/delete">
                      <button>Remove</button>
                    </form>
                  <% } %>

                </div>
                <h2>
                  <%= message.title %>
                </h2>
                <p>
                  <%= message.body %>
                </p>
              </div>
            </li>
          <% }) %>   
        </ul>
      <% } %>

      <p>End of post history.</p>

    </main>
    <%- include("./partials/footer"); %>
  </body>
</html>
