<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <main>
      <h1><%= title %></h1>
      <% if (locals.errors) { %>
        <ul>
          <% for (let i = 0; i < locals.errors.length; i++) { %>
            <li>
              <%= locals.errors[i].msg %>
            </li>
          <% } %>
        </ul>
      <% } %>
      <form action="" method="POST">
        <label for="username">Email/Username:</label>
        <input name="username" 
              type="text" 
              maxlength="30"
              required
        >
        <label for="password">Password:</label>
        <input name="password" type="password" maxlength="20" required>
        <button>Submit</button>
      </form>
    </main>
    <%- include("./partials/footer"); %>
  </body>
</html>