<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <main>
      <h1><%= title %></h1>

      <% if (locals.errors) { %>
        <ul>
          <% for (let i = 0; i < locals.errors.length; i++) { %>
            <li>
              <%= locals.errors[i].msg %>
            </li>
          <% } %>
        </ul>
      <% } %>

      <form action="" method="POST" class="pageForm">
        <div class="formSection">
          <label for="first_name">First Name:</label>
          <input name="first_name" 
                type="text" 
                maxlength="20" 
                value="<%= (locals.userDetail==undefined ? '' : locals.userDetail.first_name) %>"
                required>
        </div>
        <div class="formSection">
          <label for="last_name">Last Name:</label>
          <input name="last_name" 
                type="text" 
                maxlength="20"
                value="<%= (locals.userDetail==undefined ? '' : locals.userDetail.last_name) %>" 
                required>
        </div>
        <div class="formSection">
          <label for="email">Email:</label>
          <input name="email" 
                type="text" 
                maxlength="30"
                value="<%= (locals.userDetail==undefined ? '' : locals.userDetail.email) %>" 
                required>
        </div>
        <div class="formSection">
          <label for="password">Password:</label>
          <input name="password" type="password" maxlength="20" required>
        </div>
        <div class="formSection">
          <label for="confirm_password">Re-type Password:</label>
          <input name="confirm_password" type="password" maxlength="20" required>  
        </div>
        <button>Submit</button>
      </form>
    </main>
    <%- include("./partials/footer"); %>
  </body>
</html>